@font-face {
  font-family: "Gotham";
  font-weight: 400;
  src: url("../fonts/Gotham-Book.ttf"); }

@font-face {
  font-family: "Gotham";
  font-weight: 500;
  src: url("../fonts/Gotham-Medium.ttf"); }

@font-face {
  font-family: "Gotham";
  font-weight: 500;
  font-style: italic;
  src: url("../fonts/Gotham-Medium-Italic.ttf"); }

@font-face {
  font-family: "Gotham";
  font-weight: 700;
  src: url("../fonts/Gotham-Black.ttf"); }

html,
body {
  overflow-x: hidden;
  font-size: 3.5vw; }
  @media screen and (min-width: 576px) {
    html,
    body {
      font-size: 2.5vw; } }
  @media screen and (min-width: 768px) {
    html,
    body {
      font-size: 12px; } }
  @media screen and (min-width: 992px) {
    html,
    body {
      font-size: 14px; } }
  @media screen and (min-width: 1400px) {
    html,
    body {
      font-size: 16px; } }

h1,
h2,
h3,
h4,
h5,
h6,
p,
li,
ul,
ol,
span,
label {
  margin: 0;
  padding: 0;
  font-family: "Gotham", "Helvetica", "Arial", sans-serif; }

a {
  -webkit-transition: all .25s;
  -o-transition: all .25s;
  transition: all .25s;
  cursor: pointer; }
  a:link, a:hover, a:active, a:focus, a:visited {
    color: inherit;
    text-decoration: none; }
  a:hover {
    color: #097DEA; }

img {
  max-width: 100%;
  height: auto; }

ul,
ol {
  list-style: none;
  padding-left: 0; }

input,
button,
select,
textarea {
  border: none; }
  input:focus,
  button:focus,
  select:focus,
  textarea:focus {
    outline: none !important; }

::-moz-selection {
  color: #ffffff;
  background-color: #097DEA; }

::selection {
  color: #ffffff;
  background-color: #097DEA; }

.h1, h1,
.h2,
h2 {
  font-size: 2.167rem;
  font-weight: 700;
  line-height: 1;
  color: #8DD393; }
  @media screen and (min-width: 768px) {
    .h1, h1,
    .h2,
    h2 {
      font-size: 2.625rem; } }

.h3, h3 {
  font-size: .9167rem;
  line-height: 1.27;
  font-weight: 500;
  letter-spacing: 1px;
  color: #003362; }
  @media screen and (min-width: 768px) {
    .h3, h3 {
      font-size: .6875rem; } }

.p, p, .contact__form input,
.contact__form textarea, .contact__form label {
  font-size: 1.167rem;
  line-height: 1.35;
  font-weight: 400;
  color: #003362; }
  @media screen and (min-width: 768px) {
    .p, p, .contact__form input,
    .contact__form textarea, .contact__form label {
      font-size: .9375rem;
      line-height: 1.333; } }
  .p--sm, .contact__form label {
    font-size: .9167rem;
    line-height: 1.81; }
    @media screen and (min-width: 768px) {
      .p--sm, .contact__form label {
        font-size: .6875rem; } }
  .p--md, .contact__form input,
  .contact__form textarea {
    font-size: 1rem; }
    @media screen and (min-width: 768px) {
      .p--md, .contact__form input,
      .contact__form textarea {
        font-size: .8125rem; } }
  .p--lg {
    font-size: 1.4167rem;
    line-height: 1.23; }
    @media screen and (min-width: 768px) {
      .p--lg {
        font-size: 1.25rem;
        line-height: 1.25; } }

.btn {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
  cursor: pointer;
  -webkit-transition: all .25s;
  -o-transition: all .25s;
  transition: all .25s;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border-radius: 10rem;
  line-height: 1;
  padding: 1.25rem 2rem;
  font-size: .9167rem;
  color: #0083FF;
  border-width: .25rem;
  border-style: solid;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 1px;
  font-family: "Gotham", "Helvetica", "Arial", sans-serif; }
  .btn:link, .btn:hover, .btn:active, .btn:focus, .btn:visited {
    color: #0083FF;
    text-decoration: none; }
  @media screen and (min-width: 768px) {
    .btn {
      padding: 1rem 1.5rem;
      font-size: .6875rem;
      border-width: .1875rem; } }
  .btn img {
    margin-right: .667rem;
    height: .75rem;
    -webkit-transform: translateY(-2px);
    -ms-transform: translateY(-2px);
    transform: translateY(-2px); }
    @media screen and (min-width: 768px) {
      .btn img {
        margin-right: .5rem;
        height: .5rem;
        -webkit-transform: translateY(-1px);
        -ms-transform: translateY(-1px);
        transform: translateY(-1px); } }
    @media screen and (min-width: 1200px) {
      .btn img {
        -webkit-transform: translateY(-2px);
        -ms-transform: translateY(-2px);
        transform: translateY(-2px); } }
  .btn span {
    position: relative;
    z-index: 1; }
  .btn--primary {
    border-color: #DFF0FE; }
    .btn--primary:hover {
      background-color: #DFF0FE; }
  .btn--secondary {
    border-color: #E0F2E0; }
    .btn--secondary:hover {
      background-color: #E0F2E0; }
  .btn--tertiary {
    border-color: #F9EBDD; }
    .btn--tertiary:hover {
      background-color: #F9EBDD; }
  .btn--accent {
    position: relative;
    color: #ffffff;
    background-color: #0083FF;
    overflow: hidden;
    padding: .9167rem;
    border: 0; }
    .btn--accent:link, .btn--accent:hover, .btn--accent:active, .btn--accent:focus, .btn--accent:visited {
      color: #ffffff;
      text-decoration: none; }
    @media screen and (min-width: 768px) {
      .btn--accent {
        padding: 1.25rem 1.875rem; } }
    .btn--accent:before {
      content: "";
      position: absolute;
      z-index: 1;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      -webkit-transition: all .25s;
      -o-transition: all .25s;
      transition: all .25s;
      -webkit-backface-visibility: hidden;
      backface-visibility: hidden;
      background-image: -webkit-linear-gradient(325deg, #097DEA 50%, rgba(255, 255, 255, 0) 50%);
      background-image: -o-linear-gradient(325deg, #097DEA 50%, rgba(255, 255, 255, 0) 50%);
      background-image: linear-gradient(125deg, #097DEA 50%, rgba(255, 255, 255, 0) 50%); }
    .btn--accent:hover:before {
      width: 225%; }

.hero {
  background-color: #FDF9F5;
  padding: 8.583rem 0 2.833rem 0;
  background-image: url("../images/hero-silhouette-bg.svg");
  background-repeat: no-repeat;
  background-size: auto 100%;
  background-position: right bottom;
  position: relative; }
  @media screen and (min-width: 768px) {
    .hero {
      padding: 10.875rem 0 2.6875rem 0; } }
  .hero__img {
    width: 100%;
    margin-bottom: 2.083rem;
    -webkit-filter: drop-shadow(0 7px 3px #F9EBDD);
    filter: drop-shadow(0 7px 3px #F9EBDD); }
    @media screen and (min-width: 768px) {
      .hero__img {
        margin-bottom: 0; } }
  .hero__text {
    margin: 2.083rem 0 2.75rem 0; }
    @media screen and (min-width: 768px) {
      .hero__text {
        margin: 1.5625rem 0 2.5rem 0; } }
  .hero__tags {
    position: absolute;
    bottom: 3.125rem;
    right: 2.1875rem;
    -webkit-transform-origin: 100% 50%;
    -ms-transform-origin: 100% 50%;
    transform-origin: 100% 50%;
    -webkit-transform: rotate(90deg) translateX(-100%) scale(-1);
    -ms-transform: rotate(90deg) translateX(-100%) scale(-1);
    transform: rotate(90deg) translateX(-100%) scale(-1);
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    display: none; }
    @media screen and (min-width: 768px) {
      .hero__tags {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex; } }
    .hero__tags li {
      font-size: 1.083rem;
      color: rgba(0, 51, 98, 0.62); }
      @media screen and (min-width: 768px) {
        .hero__tags li {
          font-size: .8125rem; } }
      .hero__tags li + li {
        margin-left: 1.875rem; }

.mission {
  background-color: #8DD393;
  padding: 4.167rem 0 5.333rem 0;
  text-align: center;
  position: relative;
  overflow: hidden; }
  @media screen and (min-width: 768px) {
    .mission {
      padding: 4.6875rem 0; } }
  .mission__title {
    margin-bottom: 2.5rem; }
    @media screen and (min-width: 768px) {
      .mission__title {
        margin-bottom: 1.875rem; } }
  .mission__leaves-left, .mission__leaves-right {
    position: absolute;
    bottom: 0;
    height: 100%;
    pointer-events: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-transform-origin: 50% 100%;
    -ms-transform-origin: 50% 100%;
    transform-origin: 50% 100%; }
    .mission__leaves-left img, .mission__leaves-right img {
      position: absolute;
      bottom: 0;
      left: 0;
      max-height: 100%; }
  .mission__leaves-left {
    left: 0;
    bottom: -2.6875rem;
    width: 13.4375rem;
    -webkit-transform: translateX(-50%) scale(0.85);
    -ms-transform: translateX(-50%) scale(0.85);
    transform: translateX(-50%) scale(0.85); }
    @media screen and (min-width: 768px) {
      .mission__leaves-left {
        left: 6rem;
        -webkit-transform: none;
        -ms-transform: none;
        transform: none; } }
    .mission__leaves-left img:first-child {
      left: 0; }
    .mission__leaves-left img:nth-child(2) {
      left: 4.5rem;
      z-index: 1; }
    .mission__leaves-left img:last-child {
      right: 0;
      left: auto; }
  .mission__leaves-right {
    right: 0;
    width: 15.125rem;
    bottom: -1.5rem;
    -webkit-transform: translateX(50%) scale(0.85);
    -ms-transform: translateX(50%) scale(0.85);
    transform: translateX(50%) scale(0.85); }
    @media screen and (min-width: 768px) {
      .mission__leaves-right {
        right: 3.125rem;
        -webkit-transform: none;
        -ms-transform: none;
        transform: none; } }
    .mission__leaves-right img:first-child {
      left: 0; }
    .mission__leaves-right img:nth-child(2) {
      left: 3rem;
      bottom: -3rem; }
      @media screen and (min-width: 768px) {
        .mission__leaves-right img:nth-child(2) {
          left: 5.5rem;
          bottom: 0; } }
    .mission__leaves-right img:last-child {
      left: auto;
      right: 0; }

.partners {
  padding: 2.5rem 0; }
  @media screen and (min-width: 768px) {
    .partners {
      padding: 3.125rem 0 3.75rem 0; } }
  .partners__intro {
    text-align: left; }
    @media screen and (min-width: 768px) {
      .partners__intro {
        text-align: center; } }
  .partners__text {
    margin: 1.667rem 0; }
    @media screen and (min-width: 768px) {
      .partners__text {
        margin: 1.5625rem 0 2.8125rem 0; } }
  .partners__logos {
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin: -.833rem; }
    @media screen and (min-width: 768px) {
      .partners__logos {
        -ms-flex-wrap: nowrap;
        flex-wrap: nowrap; } }
    .partners__logos-item {
      height: 4.167rem;
      width: calc(50% - 1.667rem);
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      margin: .833rem;
      -webkit-transition: all .25s;
      -o-transition: all .25s;
      transition: all .25s;
      -webkit-backface-visibility: hidden;
      backface-visibility: hidden; }
      @media screen and (min-width: 768px) {
        .partners__logos-item {
          height: 3.333rem;
          width: 20%;
          margin: 0; } }
      @media screen and (min-width: 992px) {
        .partners__logos-item {
          height: 4.375rem; } }
      .partners__logos-item img {
        max-height: 100%; }
      .partners__logos-item:first-child {
        height: 2.833rem; }
        @media screen and (min-width: 768px) {
          .partners__logos-item:first-child {
            height: 2.75rem; } }
      .partners__logos-item:nth-child(2) {
        height: 4.167rem; }
        @media screen and (min-width: 768px) {
          .partners__logos-item:nth-child(2) {
            height: 3.75rem; } }
      .partners__logos-item:nth-child(3) {
        height: 2.833rem; }
        @media screen and (min-width: 768px) {
          .partners__logos-item:nth-child(3) {
            height: 2.875rem; } }
      .partners__logos-item:nth-child(4) {
        height: 3.333rem; }
        @media screen and (min-width: 768px) {
          .partners__logos-item:nth-child(4) {
            height: 3.125rem; } }
      .partners__logos-item:last-child {
        height: 1.4167rem; }
        @media screen and (min-width: 768px) {
          .partners__logos-item:last-child {
            height: 1.3125rem; } }

.contact {
  padding: 2.667rem 0 9.75rem 0;
  background-color: #FDF9F5;
  background-image: url("../images/footer-silhouette-bg-mobile.svg");
  background-repeat: no-repeat;
  background-position: right center;
  background-size: 80% auto;
  position: relative;
  overflow: hidden; }
  @media screen and (min-width: 768px) {
    .contact {
      padding: 4.375rem 0 6.25rem 0;
      background-image: url("../images/footer-silhouette-bg.svg");
      background-position: left bottom;
      background-size: auto 100%; } }
  .contact:before, .contact:after {
    pointer-events: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; }
  .contact:before {
    content: "";
    position: absolute;
    z-index: 1;
    bottom: 0;
    left: 0;
    width: 29.0625rem;
    height: 7.375rem;
    background-image: url("../images/contact-products-mobile.svg");
    background-position: left bottom;
    background-size: contain;
    background-repeat: no-repeat; }
    @media screen and (min-width: 768px) {
      .contact:before {
        left: 4.625rem;
        bottom: -3px;
        background-position: center bottom;
        background-image: url("../images/contact-products-left.svg"); } }
  @media screen and (min-width: 768px) {
    .contact:after {
      content: "";
      position: absolute;
      bottom: 0;
      right: 1.875rem;
      height: 5.375rem;
      width: 2.5625rem;
      background-image: url("../images/contact-products-right.svg");
      background-repeat: no-repeat;
      background-position: center bottom;
      background-size: contain; } }
  .contact__leaves-left, .contact__leaves-right {
    position: absolute;
    bottom: 0;
    height: 60%;
    pointer-events: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; }
    .contact__leaves-left img, .contact__leaves-right img {
      max-height: 100%;
      position: absolute;
      bottom: 0; }
  .contact__leaves-left {
    width: 90%;
    right: 0;
    left: auto;
    bottom: -2.1875rem; }
    @media screen and (min-width: 768px) {
      .contact__leaves-left {
        width: 20rem;
        left: 9.75rem;
        right: auto; } }
    .contact__leaves-left img:first-child {
      left: 0; }
    .contact__leaves-left img:nth-child(2) {
      right: 2.5rem; }
    .contact__leaves-left img:last-child {
      right: 0; }
  .contact__leaves-right {
    width: 8.75rem;
    right: 0;
    bottom: -3.125rem;
    display: none; }
    @media screen and (min-width: 768px) {
      .contact__leaves-right {
        right: 3.75rem;
        display: block; } }
    .contact__leaves-right img:first-child {
      right: 3.4375rem; }
    .contact__leaves-right img:last-child {
      right: 0; }
  .contact__content {
    position: relative;
    z-index: 1; }
  .contact__copy {
    margin-bottom: 1.667rem; }
    @media screen and (min-width: 768px) {
      .contact__copy {
        margin-bottom: 0;
        padding-top: 1.625rem; } }
  .contact__text {
    margin-top: 2.083rem; }
    @media screen and (min-width: 768px) {
      .contact__text {
        margin-top: 1.5625rem; } }
  .contact__form {
    padding: 2.5rem 1.667rem;
    background-color: #ffffff;
    border-radius: .4167rem;
    -webkit-box-shadow: 0 7px 24px 0 #F8EDE3;
    box-shadow: 0 7px 24px 0 #F8EDE3; }
    @media screen and (min-width: 768px) {
      .contact__form {
        padding: 1.875rem 2.5rem;
        border-radius: .3125rem; } }
    .contact__form input,
    .contact__form textarea {
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      resize: none;
      border: 0;
      width: 100%;
      display: block;
      padding: 0 .4167rem .833rem .4167rem;
      border-bottom: 1px solid #0083FF;
      color: #003362;
      line-height: 1;
      font-family: "Gotham", "Helvetica", "Arial", sans-serif;
      -webkit-transition: all .25s;
      -o-transition: all .25s;
      transition: all .25s;
      -webkit-backface-visibility: hidden;
      backface-visibility: hidden; }
      @media screen and (min-width: 768px) {
        .contact__form input,
        .contact__form textarea {
          padding: 0 .3125rem .625rem .3125rem; } }
      .contact__form input::-webkit-input-placeholder,
      .contact__form textarea::-webkit-input-placeholder {
        color: rgba(0, 51, 98, 0.29); }
      .contact__form input:-ms-input-placeholder,
      .contact__form textarea:-ms-input-placeholder {
        color: rgba(0, 51, 98, 0.29); }
      .contact__form input::-ms-input-placeholder,
      .contact__form textarea::-ms-input-placeholder {
        color: rgba(0, 51, 98, 0.29); }
      .contact__form input::placeholder,
      .contact__form textarea::placeholder {
        color: rgba(0, 51, 98, 0.29); }
      .contact__form input:focus,
      .contact__form textarea:focus {
        border-color: #F6A69B; }
      .contact__form input + input,
      .contact__form input + textarea,
      .contact__form textarea + input,
      .contact__form textarea + textarea {
        margin-top: 1.833rem; }
        @media screen and (min-width: 768px) {
          .contact__form input + input,
          .contact__form input + textarea,
          .contact__form textarea + input,
          .contact__form textarea + textarea {
            margin-top: 1.375rem; } }
    .contact__form textarea {
      border: 1px solid #0083FF;
      padding: .9167rem 1.167rem;
      margin-top: 3.333rem !important;
      height: 9.583rem; }
      @media screen and (min-width: 768px) {
        .contact__form textarea {
          padding: .6875rem .875rem;
          margin-top: 2.5rem !important;
          height: 7.1875rem; } }
    .contact__form input[type="checkbox"] {
      border: 0;
      padding: 0;
      height: 1.083rem;
      width: 1.083rem;
      min-height: 1.083rem;
      min-width: 1.083rem;
      border-radius: 50%;
      background-color: rgba(0, 131, 255, 0.13);
      cursor: pointer;
      -webkit-transform: translateY(0.25rem);
      -ms-transform: translateY(0.25rem);
      transform: translateY(0.25rem); }
      @media screen and (min-width: 768px) {
        .contact__form input[type="checkbox"] {
          height: .8125rem;
          width: .8125rem;
          min-height: .8125rem;
          min-width: .8125rem;
          -webkit-transform: translateY(0.125rem);
          -ms-transform: translateY(0.125rem);
          transform: translateY(0.125rem); } }
      .contact__form input[type="checkbox"]:checked {
        background-color: #0083FF;
        -webkit-box-shadow: inset 0 0 0 4px #DAEFFF;
        box-shadow: inset 0 0 0 4px #DAEFFF; }
        @media screen and (min-width: 768px) {
          .contact__form input[type="checkbox"]:checked {
            -webkit-box-shadow: inset 0 0 0 3px #DAEFFF;
            box-shadow: inset 0 0 0 3px #DAEFFF; } }
    .contact__form label {
      cursor: pointer;
      margin: 0 0 0 8px;
      color: #003362; }
    .contact__form button[type="submit"] {
      padding-left: 1.667rem;
      padding-right: 1.667rem; }
      @media screen and (min-width: 768px) {
        .contact__form button[type="submit"] {
          padding-left: 1.25rem;
          padding-right: 1.25rem; } }
      .contact__form button[type="submit"] span {
        -webkit-transform: translateY(2px);
        -ms-transform: translateY(2px);
        transform: translateY(2px); }
        @media screen and (min-width: 768px) {
          .contact__form button[type="submit"] span {
            -webkit-transform: translateY(1px);
            -ms-transform: translateY(1px);
            transform: translateY(1px); } }

.feature {
  overflow: hidden;
  padding: 5rem 0 2.5rem 0; }
  @media screen and (min-width: 768px) {
    .feature {
      padding: 3.75rem 0 5.1875rem 0; } }
  .feature__text {
    margin: 2.083rem 0 2.9167rem 0; }
    @media screen and (min-width: 768px) {
      .feature__text {
        margin: 1.5625rem 0; } }
  .feature__slider {
    margin-bottom: 5.4167rem;
    border-radius: .4167rem;
    position: relative;
    -webkit-box-shadow: 0 7px 24px 0 rgba(248, 238, 228, 0.85);
    box-shadow: 0 7px 24px 0 rgba(248, 238, 228, 0.85); }
    @media screen and (min-width: 768px) {
      .feature__slider {
        margin-bottom: 0;
        border-radius: .3125rem; } }
    .feature__slider .slick-slide:focus {
      outline: none; }
    .feature__slider .slick-dots {
      display: -webkit-box !important;
      display: -ms-flexbox !important;
      display: flex !important;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      margin-top: 1.75rem;
      position: absolute;
      bottom: -1.9167rem;
      left: 50%;
      -webkit-transform: translate(-50%, 100%);
      -ms-transform: translate(-50%, 100%);
      transform: translate(-50%, 100%); }
      @media screen and (min-width: 768px) {
        .feature__slider .slick-dots {
          bottom: -1.4375rem;
          margin-top: 1.4375rem; } }
      .feature__slider .slick-dots li {
        height: 1rem;
        width: 1rem;
        border-radius: 5rem;
        cursor: pointer;
        -webkit-transition: all .25s;
        -o-transition: all .25s;
        transition: all .25s;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        background-color: #F9EBDD; }
        @media screen and (min-width: 768px) {
          .feature__slider .slick-dots li {
            height: .75rem;
            width: .75rem; } }
        .feature__slider .slick-dots li.slick-active {
          background-color: #F6A69B; }
        .feature__slider .slick-dots li + li {
          margin-left: .6875rem; }
    .feature__slider-item {
      padding: 3.333rem 2.5rem 2.5rem 2.5rem;
      border-radius: .4167rem;
      overflow: hidden;
      background-color: #ffffff;
      -webkit-box-shadow: 0 7px 24px 0 rgba(248, 238, 228, 0.85);
      box-shadow: 0 7px 24px 0 rgba(248, 238, 228, 0.85); }
      @media screen and (min-width: 768px) {
        .feature__slider-item {
          padding: 2.5rem 1.875rem 1.875rem 1.875rem;
          border-radius: .3125rem; } }
      .feature__slider-item-main {
        text-align: center; }
      .feature__slider-item-tag {
        text-transform: uppercase;
        color: #ffffff;
        background-color: #F6A69B;
        border-radius: 10rem;
        line-height: 1;
        padding: 6px .667rem 2px .667rem;
        font-family: "Gotham", "Helvetica", "Arial", sans-serif;
        font-size: .9167rem;
        font-weight: 500;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        text-align: center;
        letter-spacing: 1px;
        margin-bottom: 1.5rem; }
        @media screen and (min-width: 768px) {
          .feature__slider-item-tag {
            padding: 5px .5rem 2px .5rem;
            font-size: .6875rem;
            margin-bottom: 1.125rem; } }
      .feature__slider-item-title {
        color: #0083FF;
        font-weight: 700;
        font-size: 12rem;
        line-height: 1;
        text-shadow: 8px 8px 0 rgba(0, 131, 255, 0.08); }
        @media screen and (min-width: 768px) {
          .feature__slider-item-title {
            font-size: 11rem;
            text-shadow: 4px 4px 0 rgba(0, 131, 255, 0.08); } }
        @media screen and (min-width: 992px) {
          .feature__slider-item-title {
            font-size: 10.5rem; } }
        @media screen and (min-width: 1200px) {
          .feature__slider-item-title {
            font-size: 9rem; } }
        @media screen and (min-width: 1400px) {
          .feature__slider-item-title {
            font-size: 7.5rem; } }
  .feature__copy {
    margin-bottom: 2.9167rem;
    position: relative;
    z-index: 3; }
    @media screen and (min-width: 768px) {
      .feature__copy {
        margin-top: 13.25rem;
        margin-bottom: 0; } }
    @media screen and (min-width: 992px) {
      .feature__copy {
        margin-top: 12.875rem; } }
    @media screen and (min-width: 1400px) {
      .feature__copy {
        margin-top: 13.25rem; } }
    .feature__copy h2 {
      background-color: #F6FBFF;
      display: inline-block;
      padding-right: 10px; }
    .feature__copy p {
      margin: 1.667rem 0 0 0; }
      @media screen and (min-width: 768px) {
        .feature__copy p {
          margin: 1.5625rem 0 2.5rem 0; } }
  .feature__info {
    position: relative; }
    @media screen and (min-width: 768px) {
      .feature__info:before {
        content: "";
        position: absolute;
        top: 50%;
        left: 0;
        height: 1px;
        width: 70%;
        -webkit-transform: translate(-90%, -50%);
        -ms-transform: translate(-90%, -50%);
        transform: translate(-90%, -50%);
        background-color: #0083FF;
        pointer-events: none;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none; } }
    @media screen and (min-width: 768px) {
      .feature__info:after {
        content: "";
        position: absolute;
        top: 50%;
        left: 0;
        -webkit-transform: translate(-20%, -50%);
        -ms-transform: translate(-20%, -50%);
        transform: translate(-20%, -50%);
        height: 72%;
        width: 50%;
        border-radius: 2.5rem;
        border: 1px solid #0083FF;
        border-right: 0; } }
    .feature__info-item {
      padding: 1.667rem;
      background-color: #ffffff;
      -webkit-box-shadow: 0 0.5833rem 2rem 0 #DFF0FE;
      box-shadow: 0 0.5833rem 2rem 0 #DFF0FE;
      border-left: 0.75rem solid #0083FF;
      border-radius: .4167rem;
      overflow: hidden;
      position: relative;
      z-index: 1; }
      @media screen and (min-width: 768px) {
        .feature__info-item {
          border-radius: .3125rem;
          padding: 1.875rem 3.75rem;
          border-left-width: .5625rem;
          -webkit-box-shadow: 0 0.4375rem 1.5rem 0 #DFF0FE;
          box-shadow: 0 0.4375rem 1.5rem 0 #DFF0FE; } }
      .feature__info-item h3 {
        margin-bottom: 1.083rem;
        text-transform: uppercase; }
        @media screen and (min-width: 768px) {
          .feature__info-item h3 {
            margin-bottom: 1.25rem; } }
      .feature__info-item p {
        color: rgba(0, 51, 98, 0.7); }
      .feature__info-item + .feature__info-item {
        margin-top: 1.667rem; }
        @media screen and (min-width: 768px) {
          .feature__info-item + .feature__info-item {
            margin-top: 1.5625rem; } }
    .feature__info-btn {
      margin-top: 2.5rem; }
      @media screen and (min-width: 768px) {
        .feature__info-btn {
          margin-top: 0; } }
  @media screen and (min-width: 768px) {
    .feature--alt .feature__info:before {
      left: auto;
      right: 0;
      -webkit-transform: translate(90%, -50%);
      -ms-transform: translate(90%, -50%);
      transform: translate(90%, -50%); } }
  @media screen and (min-width: 768px) {
    .feature--alt .feature__info:after {
      top: 50%;
      left: auto;
      right: 0;
      -webkit-transform: translate(20%, -50%);
      -ms-transform: translate(20%, -50%);
      transform: translate(20%, -50%);
      border: 1px solid #0083FF;
      border-left: 0; } }
  .feature--secondary .feature__copy {
    background-color: #F3F9ED;
    border-left: 10px solid #F3F9ED; }
    .feature--secondary .feature__copy h2 {
      padding-right: 0;
      white-space: nowrap;
      background-color: #F3F9ED; }
  @media screen and (min-width: 768px) {
    .feature--secondary .feature__info:before {
      background-color: #8DD393; } }
  @media screen and (min-width: 768px) {
    .feature--secondary .feature__info:after {
      border-color: #8DD393; } }
  .feature--secondary .feature__info-item {
    border-left-color: #8DD393;
    -webkit-box-shadow: 0 0.5833rem 2rem 0 #E0F2E0;
    box-shadow: 0 0.5833rem 2rem 0 #E0F2E0; }
    @media screen and (min-width: 768px) {
      .feature--secondary .feature__info-item {
        -webkit-box-shadow: 0 0.4375rem 1.5rem 0 #E0F2E0;
        box-shadow: 0 0.4375rem 1.5rem 0 #E0F2E0; } }

.section-marketplace {
  padding-top: 2.5rem;
  position: relative;
  overflow: hidden; }
  @media screen and (min-width: 768px) {
    .section-marketplace {
      padding-top: 3.75rem; } }
  .section-marketplace__leaves {
    position: absolute;
    bottom: -2.1875rem;
    left: -3rem;
    pointer-events: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    width: 11.25rem;
    height: 100%; }
    @media screen and (min-width: 768px) {
      .section-marketplace__leaves {
        left: 48%; } }
    @media screen and (min-width: 992px) {
      .section-marketplace__leaves {
        left: 55.5%; } }
    @media screen and (min-width: 1200px) {
      .section-marketplace__leaves {
        left: 65%; } }
    @media screen and (min-width: 1400px) {
      .section-marketplace__leaves {
        left: 59%; } }
    .section-marketplace__leaves img {
      position: absolute;
      max-height: 100%;
      bottom: 0; }
      .section-marketplace__leaves img:first-child {
        left: 0; }
      .section-marketplace__leaves img:last-child {
        right: 2rem; }
        @media screen and (min-width: 768px) {
          .section-marketplace__leaves img:last-child {
            right: 0; } }
  .section-marketplace__title {
    position: relative; }
    @media screen and (min-width: 768px) {
      .section-marketplace__title {
        display: inline-block; } }
    .section-marketplace__title h2 {
      position: relative;
      z-index: 1; }
    .section-marketplace__title img {
      width: 10rem;
      display: block;
      margin: 0 auto .833rem auto;
      pointer-events: none;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none; }
      @media screen and (min-width: 768px) {
        .section-marketplace__title img {
          width: 7.5rem;
          position: absolute;
          top: 0;
          right: 0;
          -webkit-transform: translate(90%, -40%);
          -ms-transform: translate(90%, -40%);
          transform: translate(90%, -40%); } }

.section-dashboard {
  position: relative; }
  .section-dashboard:after {
    content: "";
    position: absolute;
    top: 0;
    right: -6rem;
    height: 18.333rem;
    width: 14.167rem;
    background-image: url("../images/i-dashboard.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    pointer-events: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; }
    @media screen and (min-width: 768px) {
      .section-dashboard:after {
        height: 13.75rem;
        width: 10.625rem;
        top: 3.75rem;
        right: auto;
        left: -2rem; } }
  .section-dashboard__leaves {
    display: none; }
    @media screen and (min-width: 768px) {
      .section-dashboard__leaves {
        display: block;
        position: absolute;
        bottom: -2.1875rem;
        right: 1.5rem;
        height: 17.5rem;
        width: 12.8125rem; } }
    .section-dashboard__leaves img {
      bottom: 0;
      position: absolute; }
      .section-dashboard__leaves img:first-child {
        left: 0; }
      .section-dashboard__leaves img:last-child {
        right: 0; }
        @media screen and (min-width: 1400px) {
          .section-dashboard__leaves img:last-child {
            right: 2rem; } }

.section-eshop {
  position: relative; }
  .section-eshop__leaves-wrapper {
    position: relative; }
  .section-eshop__leaves {
    display: none; }
    @media screen and (min-width: 768px) {
      .section-eshop__leaves {
        display: block;
        position: absolute;
        top: 50%;
        left: 0;
        -webkit-transform: translate(-70%, -50%);
        -ms-transform: translate(-70%, -50%);
        transform: translate(-70%, -50%); } }
  .section-eshop:after {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    height: 7.667rem;
    width: 5.833rem;
    background-image: url("../images/shopping-bag.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center bottom;
    pointer-events: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; }
    @media screen and (min-width: 768px) {
      .section-eshop:after {
        height: 7.375rem;
        width: 5.625rem;
        right: 5.4375rem; } }
  .section-eshop .feature__copy {
    position: relative; }
    .section-eshop .feature__copy:before {
      content: "";
      position: absolute;
      top: -1rem;
      right: -2rem;
      background-image: url("../images/i-shop.svg");
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
      height: 8rem;
      width: 9.25rem;
      pointer-events: none;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none; }
      @media screen and (min-width: 768px) {
        .section-eshop .feature__copy:before {
          height: 7.75rem;
          width: 8.875rem;
          right: auto;
          top: -1.4375rem;
          left: -3.5rem;
          -webkit-transform: translateY(-100%);
          -ms-transform: translateY(-100%);
          transform: translateY(-100%); } }

.leaves img {
  -webkit-transform-origin: 50% 100%;
  -ms-transform-origin: 50% 100%;
  transform-origin: 50% 100%;
  -webkit-animation: swing ease-in-out 1s infinite alternate;
  animation: swing ease-in-out 1s infinite alternate; }
  .leaves img:first-child {
    -webkit-animation-duration: 2.5s;
    animation-duration: 2.5s; }
  .leaves img:nth-child(2) {
    -webkit-animation-duration: 2s;
    animation-duration: 2s; }
  .leaves img:last-child {
    -webkit-animation-duration: 1.5s;
    animation-duration: 1.5s; }

@-webkit-keyframes swing {
  0% {
    -webkit-transform: rotate(3deg);
    transform: rotate(3deg); }
  100% {
    -webkit-transform: rotate(-3deg);
    transform: rotate(-3deg); } }

@keyframes swing {
  0% {
    -webkit-transform: rotate(3deg);
    transform: rotate(3deg); }
  100% {
    -webkit-transform: rotate(-3deg);
    transform: rotate(-3deg); } }

.container {
  padding-left: 20px;
  padding-right: 20px; }
  @media screen and (min-width: 768px) {
    .container {
      padding-left: 15px;
      padding-right: 15px; } }

.header {
  padding: 2.5rem 0;
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: auto; }
  @media screen and (min-width: 768px) {
    .header {
      padding: 3.375rem 0; } }
  @media screen and (min-width: 1400px) {
    .header {
      padding-left: 4.375rem;
      padding-right: 4.375rem; } }
  .header__inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
  .header__logo {
    display: block;
    width: 10.5rem; }
    @media screen and (min-width: 768px) {
      .header__logo {
        width: 10.2rem; } }
    .header__logo-img {
      width: 100%; }
  .header__nav {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    text-align: right; }
    @media screen and (min-width: 768px) {
      .header__nav {
        text-align: center;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: end;
        -ms-flex-pack: end;
        justify-content: flex-end; } }
  .header__menu {
    display: none; }
    @media screen and (min-width: 768px) {
      .header__menu {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: end;
        -ms-flex-pack: end;
        justify-content: flex-end; } }
    .header__menu li {
      cursor: pointer;
      letter-spacing: 1px;
      font-weight: 500;
      color: #0083FF;
      font-size: .6875rem;
      -webkit-transition: all .25s;
      -o-transition: all .25s;
      transition: all .25s;
      -webkit-backface-visibility: hidden;
      backface-visibility: hidden; }
      .header__menu li:hover {
        color: #8DD393; }
      .header__menu li + li {
        margin-left: 2.5rem; }
  .header__btn {
    margin-left: 2.9167rem;
    font-size: .667rem;
    font-weight: 500;
    letter-spacing: 1px; }
    @media screen and (min-width: 768px) {
      .header__btn {
        margin-left: 2.1875rem;
        font-size: .6875rem; } }

.footer {
  padding: 2.5rem 0 3.333rem 0;
  background-color: #003362; }
  @media screen and (min-width: 768px) {
    .footer {
      padding: 3.75rem 0 4.125rem 0; } }
  @media screen and (min-width: 1400px) {
    .footer {
      padding-left: 4.375rem;
      padding-right: 4.375rem; } }
  .footer .row {
    margin-bottom: -2.5rem; }
    @media screen and (min-width: 768px) {
      .footer .row {
        margin-bottom: 0; } }
    .footer .row [class^="col-"] {
      margin-bottom: 2.5rem; }
      @media screen and (min-width: 768px) {
        .footer .row [class^="col-"] {
          margin-bottom: 0; } }
  .footer__logo {
    width: 6.083rem;
    display: block;
    margin: 0 auto; }
    @media screen and (min-width: 768px) {
      .footer__logo {
        margin: 0;
        width: 4.5625rem; } }
    .footer__logo-img {
      width: 100%; }
  .footer__social {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
    @media screen and (min-width: 768px) {
      .footer__social {
        display: -webkit-inline-box;
        display: -ms-inline-flexbox;
        display: inline-flex;
        -webkit-box-pack: start;
        -ms-flex-pack: start;
        justify-content: flex-start; } }
    .footer__social a {
      margin-left: 2.5rem;
      background-color: #8DD393;
      height: 2.5rem;
      width: 2.5rem;
      border-radius: 50%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-transition: all .25s;
      -o-transition: all .25s;
      transition: all .25s;
      -webkit-backface-visibility: hidden;
      backface-visibility: hidden; }
      @media screen and (min-width: 768px) {
        .footer__social a {
          margin-left: 1.5625rem;
          height: 1.875rem;
          width: 1.875rem; } }
      .footer__social a img {
        height: 50%; }
      .footer__social a:hover {
        background-color: #0083FF; }
    .footer__social p {
      color: #ffffff;
      -webkit-box-flex: 1;
      -ms-flex: 1;
      flex: 1; }
  .footer__incubators {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start; }
  .footer__incubator-logo:first-child {
    height: 3.333rem; }
    @media screen and (min-width: 768px) {
      .footer__incubator-logo:first-child {
        height: 2.5rem; } }
  .footer__incubator-logo:last-child {
    height: 2.167rem; }
    @media screen and (min-width: 768px) {
      .footer__incubator-logo:last-child {
        height: 1.625rem; } }
  .footer__incubator-logo img {
    height: 100%; }
  .footer__incubator-logo + .footer__incubator-logo {
    margin-left: 1rem; }
    @media screen and (min-width: 768px) {
      .footer__incubator-logo + .footer__incubator-logo {
        margin-left: .75rem; } }

.u-color-white {
  color: #ffffff; }

.u-color-primary {
  color: #0083FF; }

.u-color-secondary {
  color: #8DD393; }

.u-color-tertiary {
  color: #F6A69B; }

.u-color-gray-lgt {
  color: rgba(0, 51, 98, 0.7); }

.u-bg-primary {
  background-color: #F6FBFF; }

.u-bg-secondary {
  background-color: #F3F9ED; }

.u-bg-tertiary {
  background-color: #FDF9F5; }

.u-weight-med {
  font-weight: 500; }
