.mission {
    background-color: $color-secondary;
    padding: 4.167rem 0 5.333rem 0;
    text-align: center;
    position: relative;
    overflow: hidden;
    @include atMedium {
        padding: 4.6875rem 0;
    }

    &__title {
        margin-bottom: 2.5rem;
        @include atMedium {
            margin-bottom: 1.875rem;
        }
    }

    &__leaves {
        &-left,
        &-right {
            position: absolute;
            bottom: 0;
            height: 100%;
            pointer-events: none;
            user-select: none;
            transform-origin: 50% 100%;

            img {
                position: absolute;
                bottom: 0;
                left: 0;
                max-height: 100%;
            }
        }

        &-left {
            left: 0;
            bottom: -2.6875rem;
            width: 13.4375rem;
            transform: translateX(-50%) scale(.85);
            @include atMedium {
                left: 6rem;
                transform: none;
            }

            img {
                &:first-child {
                    left: 0;
                }

                &:nth-child(2) {
                    left: 4.5rem;
                    z-index: 1;
                }

                &:last-child {
                    right: 0;
                    left: auto;
                }
            }
        }

        &-right {
            right: 0;
            width: 15.125rem;
            bottom: -1.5rem;
            transform: translateX(50%) scale(.85);
            @include atMedium {
                right: 3.125rem;
                transform: none;
            }

            img {
                &:first-child {
                    left: 0;
                }

                &:nth-child(2) {
                    left: 3rem;
                    bottom: -3rem;
                    @include atMedium {
                        left: 5.5rem;
                        bottom: 0;
                    }
                }

                &:last-child {
                    left: auto;
                    right: 0;
                }
            }
        }
    }
}